<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone4</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if @current_user %>
      <%= link_to(@current_user.name,"/users/#{@current_user.id}") %>
      <%= link_to "ユーザー一覧", users_index_path %>
      <%= link_to "投稿一覧", posts_index_path %>
      <%= link_to "新規投稿", posts_new_path %>
      <%= button_to "ログアウト", users_logout_path %>
    <% else %>
      <%= link_to "新規登録", users_new_path %>
      <%= link_to "ログイン", users_login_form_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
